captum>=0.4.0
dash>=2.14.0
earthengine-api
folium
gdown>=4.0.0
geemap
google-api-python-client>=2.20.0
ipykernel>=6.0.0
jupyter>=1.0.0
laspy
lazrs
matplotlib>=3.4.0
mrmr_selection>=0.2.0
numpy>=1.21.0
open3d
opencv-python-headless>=4.5.0
pandas>=1.3.0
pdal
pillow
plotly
pyarrow>=5.0.0
pydrive2>=1.10.0
pyproj
python-pdal
PyWavelets>=1.1.0
rasterio>=1.2.0
scikit-image>=0.18.0
scikit-learn>=0.24.0
scipy>=1.7.0
torch>=1.9.0
torchvision>=0.10.0
tqdm>=4.62.0